@import 'style/index.scss';

.store-wrapper {
	span {
		background-color: $yellow;
		font-size: 12px;
		width: 29px;
		height: 29px;
		border-radius: 50%;
		color: #fff;
		margin-right: 10px;
	}
	.name {
		font-size: 0;
		font-weight: 500;
		@media (min-width: $phone) {
			font-size: 18px;
		}
	}
}
