@import 'style/index.scss';

.button-wrapper {
	.mui-btn.mui-btn--flat {
		border-radius: 40px;
		padding: 22px 56px;
		color: #ffffff;
		line-height: 0;
		font-size: 13px;
		font-weight: bold;
		&:active,
		&:focus,
		&:hover {
			background-color: none;
		}
	}
	&.green {
		.mui-btn.mui-btn--flat {
			background-color: $green;
		}
	}
}
