.hamburger {
	position: absolute;
	top: calc(50% - 24px / 2);
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 24px;
	height: 24px;
	z-index: 3;

	div {
		width: 24px;
		height: 3px;
		background: #000000;
		border-radius: 15px;
		transition: all 0.3s linear;
		position: relative;
		transform-origin: 1px;
	}
	&.open {
		div {
			&:first-child {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
				transform: translateX(20px);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}
