@import 'style/index.scss';

.logo {
	background-color: $green;
	min-height: 70px;
	display: flex;
	align-items: center;
	&-name {
		font-size: 22px;
		padding-left: 20px;
		line-height: 1.4;
		cursor: pointer;
		color: #ffffff;
	}
}
