@import 'style/index.scss';

.header {
	&-wrapper {
		width: 100%;
		min-height: 70px;
		background-color: #fff;
		padding: 0 10px;
		@media (min-width: $phone) {
			padding: 0 30px;
		}
		.mob-menu {
			display: block;
			position: relative;
			@media (min-width: $phone) {
				display: none;
			}
		}
	}
}
